* {
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: red;

}

#logo_barra {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

header h1 {
    color: white;
    font-style: italic;
    margin-top: 0;
    margin-left: 50px;
    padding-top: 25px;
    flex: 1;
}

header h1 img {
    width: 175px;
    height: 128px;
    margin: 0;
}

header nav {
    background-color: red;
    height: 40px;
    text-align: center;
    background-color: white;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    width: 50%;
    margin-right: 50px;
}

header nav ul li a {
    font-size: 24px;
    padding: 5px 10px;
    transition: background-color 0.8s;
    border-radius: 100px;
}

header nav ul li a:hover {
    background-color: red;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    gap: 5px;  
    width: 100%;
    flex: 1;
}

.container form {
    margin-right: 20px;
}

#barra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    flex: 1;
}

#barra input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

#barra input:focus {
    border-color: #4a90e2;
    box-shadow: 0 4px 12px rgba(74, 144, 226, 0.3);
}

#barra input::placeholder {
    color: #aaa;
    font-style: italic;
}

#user {
    margin-right: 20px;
    transition: 0.8s;
    border-radius: 50px;
    padding: 10px 10px;
}

#user:hover {
    background-color: white;
}


.cart-button {
    padding: 10px 10px;
    color: white;
    border-radius: 50px;
    transition: background-color 0.8s;
    gap: 10px;
    
}

.cart-button img {
    width: 40px;
    height: 40px;
}

.cart-button:hover {
    background-color: white;
}

.container_main {
    background-image: url('/source/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3%;
    height: 800px;
    width: 100%;
    box-sizing: border-box;
}

.container_main h3 {
    width: 600px;
    margin: 1%;
    font-size: 25px;
}

.container_main h1 {
    width: 400px;
    margin: 1%;
    font-size: 80px;
}

.container_main h2 {
    width: 400px;
    margin: 1%;
    font-size: 30px;
}

.container_main a {
    width: 400px;
    margin: 1%;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 100px;
    padding: 10px 15px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.container_main a:hover {
    background-color: white;
    border: 2px solid red;
    color: red;
}

.Ofertas_destacadas {
    margin-top: 2%;
    text-align: center;
}

.tabla {
    margin-top: 1%;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.tabla img {
    width: 200px;
    height: 158px;
    padding: 5px;
}

.tabla a {
    background-color: red;
    color: white;
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    border: 2px solid white;
}

.tabla a:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}

#ver_ofertas {
    background-color: red;
    color: white;
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 2px solid white;
}

#ver_ofertas:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}

.app {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.app img {
    width: 100%;
}

.categorias_destacadas {
    margin-top: 2%;
    text-align: center;
}

.categorias_destacadas {
    padding: 2rem;
}

.scroll-layout {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel .content {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel .content li {
    scroll-snap-align: center;
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background: #fff;
}

.carousel .content li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.carousel .content li a:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}

.carousel .content li img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.carousel .content li span {
    padding: 0.5rem;
    font-weight: bold;
}


#mas {
    margin-top: 10px;
    background-color: green;
    color: white;
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.3s;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: 2px solid white;
}

#mas:hover {
    background-color: white;
    color: green;
    border: 2px solid green;
}

#ultimas_ofertas {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    box-sizing: border-box;
}

#algodon {
    background-image: url("/source/algodon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: 1;
    padding: 20px;
}

#algodon h5 {
    font-size: 70px;
}

#algodon h4 {
    padding-top: 5px;
    margin-top: 40px;
    margin-bottom: 200px;
    font-size: 60px;
}

#algodon a {
    background-color: red;
    color: white;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    transition: background-color 0.8s;
}

#algodon a:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}

#sandias {
    background-image: url("/source/sandias.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: 1;
    padding: 20px;
}

#sandias h2 {
    font-size: 60px;
    margin-bottom: 255px;
}

#sandias a {
    background-color: red;
    color: white;
    transition: background-color 0.8s;
    padding: 10px;
    border-radius: 100px;
}

#sandias a:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
}

#ultimas_ayudas {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#camion {
    flex: 1;
    text-align: center;
}

#atencion_cliente {
    flex: 1;
    text-align: center;
}

#compra_cualquier_lugar {
    flex: 1;
    text-align: center;
}

footer {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:5px;
    height: 400px;
}

#logo {
    flex: 1;
    text-align: center;
    margin-top: 50px;
}

#ayuda {
    flex: 1;
    text-align: center;
    margin-top: 50px;
}

#ayuda ul {
    list-style-type: none;
    padding: 15px;
}

#terminos {
    flex: 1;
    padding-top: 50px;
    text-align: center;
    margin-top: 50px;
}

#terminos ul {
    list-style-type: none;
    padding: 15px;
}

#pagos {
    flex: 1;
    text-align: center;
    margin-top: 50px;
}